In [1]:
#processing
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [2]:
df = pd.read_csv('./treated_data/df_model.csv')
df.drop(columns=['Unnamed: 0'], inplace=True)
df.head()

,life_expectancy,income,co2_emissions(tonnes/person),total_health_spending,gov_health_spending,kcal_day,sugar_g_day,Schooling,Alcohol,BMI,children/woman
0,52.4,365.0,0.0487,14.8,0.833,1830.0,9.46,6.2,0.01,13.0,7.27
1,53.0,377.0,0.0518,18.3,1.250,1890.0,12.20,6.5,0.01,13.4,7.14
2,53.5,364.0,0.0394,20.7,1.610,1970.0,15.50,6.8,0.02,13.8,6.99
3,53.9,389.0,0.0529,21.9,2.520,1950.0,18.60,7.9,0.02,14.2,6.83
4,54.1,398.0,0.0637,23.8,2.810,1970.0,19.70,8.1,0.03,14.7,6.65

In [3]:
df.columns

Index(['life_expectancy', 'income', 'co2_emissions(tonnes/person)',
       'total_health_spending', 'gov_health_spending', 'kcal_day',
       'sugar_g_day', 'Schooling', 'Alcohol', ' BMI ', 'children/woman'],
      dtype='object')

In [4]:
df.describe()

,life_expectancy,income,co2_emissions(tonnes/person),total_health_spending,gov_health_spending,kcal_day,sugar_g_day,Schooling,Alcohol,BMI,children/woman
count,1742.000000,1742.000000,1742.000000,1742.000000,1742.000000,1742.000000,1742.000000,1742.000000,1742.000000,1742.000000,1742.000000
mean,69.097359,12159.945465,4.481198,762.148479,534.237984,2760.189437,83.468347,11.896843,5.207262,37.912113,3.012445
std,9.415030,17835.201434,5.518953,1403.569051,1048.388872,475.999530,43.093455,3.261131,4.026426,19.201851,1.615726
min,32.100000,194.000000,0.018700,2.620000,0.270000,1780.000000,3.290000,0.000000,0.010000,1.000000,1.120000
25%,62.800000,1270.000000,0.668250,46.525000,18.525000,2370.000000,44.725000,10.100000,1.605000,19.000000,1.750000
50%,71.900000,4190.000000,2.300000,178.000000,99.300000,2760.000000,85.200000,12.200000,4.400000,43.850000,2.505000
75%,76.300000,13100.000000,6.450000,615.750000,409.000000,3130.000000,115.000000,14.000000,8.400000,55.200000,3.980000
max,82.800000,112000.000000,36.100000,8360.000000,6940.000000,3830.000000,194.000000,20.700000,17.870000,75.200000,7.680000

In [5]:
#feature scaling
'''
scaler = MinMaxScaler(feature_range=(0,1))
df[['life_expectancy', 'income', 'co2_emissions(tonnes/person)',
       'total_health_spending', 'gov_health_spending', 'kcal_day',
       'sugar_g_day', 'Schooling', 'Alcohol', ' BMI ', 'children/woman']] = scaler.fit_transform(df[['life_expectancy', 'income', 'co2_emissions(tonnes/person)',
       'total_health_spending', 'gov_health_spending', 'kcal_day',
       'sugar_g_day', 'Schooling', 'Alcohol', ' BMI ', 'children/woman']])


df.describe()
'''

"\nscaler = MinMaxScaler(feature_range=(0,1))\ndf[['life_expectancy', 'income', 'co2_emissions(tonnes/person)',\n       'total_health_spending', 'gov_health_spending', 'kcal_day',\n       'sugar_g_day', 'Schooling', 'Alcohol', ' BMI ', 'children/woman']] = scaler.fit_transform(df[['life_expectancy', 'income', 'co2_emissions(tonnes/person)',\n       'total_health_spending', 'gov_health_spending', 'kcal_day',\n       'sugar_g_day', 'Schooling', 'Alcohol', ' BMI ', 'children/woman']])\n\n\ndf.describe()\n"

In [6]:
y = df['life_expectancy']
X = df.drop(['life_expectancy'], axis = 1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=7)

In [7]:
regr = DecisionTreeRegressor(random_state = 7)
model = regr.fit(X_train, y_train)
acc = model.score(X_test,y_test)*100
print(f"Model (Decision Tree) Test Accuracy {round(acc, 2)}%")

Model (Decision Tree) Test Accuracy 91.33%

In [8]:
# flask
#set for ints
my_predictors = []
while len(my_predictors) < 10:
    parameters=['income','co2_emissions(tonnes/person)','total_health_spending','gov_health_spending','kcal_day','sugar_g_day','Schooling','Alcohol',' BMI ','children/woman']
    
    income = input('Your gross income per year ($US): ')
    my_predictors.append(income)
    co2 = input('Your CO2 emissions/tonnes per year (in 2014 an American produced ~16 tonnes): ')
    my_predictors.append(co2)
    health = input('Your spends on healthcare per year ($US): ')
    my_predictors.append(health)
    gov = input('How much healthcare allowance you receive from the government per year ($US): ')
    my_predictors.append(gov)
    kcal = input('Food intake (calories per day): ')
    my_predictors.append(kcal)
    sugar = input('Sugar intake (grams per day): ')
    my_predictors.append(sugar)
    school = input('Years spent on school+university: ')
    my_predictors.append(school)
    alcohol = input('Your alcohol intake per week (1 beer = 1 unit): ')
    my_predictors.append(alcohol)
    print('Body mass index (BMI):')
    w = float(input('Your weight in kg: '))
    h = float(input('Your height in cm: '))
    h_m = h/100
    bmi = w/(h_m**2)
    print(f'Your BMI is: {round(bmi, 1)}')
    my_predictors.append(bmi)
    fertility = input('How many children you have: ')
    my_predictors.append(fertility)
    
    my_data = dict(zip(parameters, my_predictors))
    my_df = pd.DataFrame(my_data, index=[0])
    my_y_pred = regr.predict(my_df)
    print('\n')
    print(f'Life expectancy: {int(my_y_pred)} years')

Your gross income per year ($US): 1
Your CO2 emissions/tonnes per year (in 2014 an American produced ~16 tonnes): 1
Your spends on healthcare per year ($US): 1
How much healthcare allowance you receive from the government per year ($US): 1
Food intake (calories per day): 1
Sugar intake (grams per day): 1
Years spent on school+university: 1
Your alcohol intake per week (1 beer = 1 unit): 1
Body mass index (BMI):
Your weight in kg: 1
Your height in cm: 1
Your BMI is: 10000.0
How many children you have: 1


Life expectancy: 67 years